body {
  margin: 50px auto;
  text-align: center;
  width: 550px;
  height: 729px;
  background: black;
}

.hero {
  display: flex;
  flex-direction: column;
  background: #6943fe;
  color: white;
  padding: 30px;
  align-items: center;
}

.main {
  background-color: #f4f4f4;
  padding: 10px;
}

.unit-box {
  background: white;
  padding: 5px;
  margin-bottom: 20px;
}

#calc-btn {
  margin-top: 20px;
  width: 117px;
  height: 42px;
  border: 0.6px solid black;
  border-radius: 9px;
  font-size: 16px;
}

#input {
  border: 1px solid #b295ff;
  border-radius: 9px;
  background: #6943fe;
  color: white;
  font-size: 58px;
  width: 117px;
  height: 83px;
  font-weight: bold;
  text-align: center;
}
